.cons {
    color: red;
}

.incoming {
    color: green;
}

.clicable {
    cursor: pointer;
}

button > .text-left-icon {
    margin-right: 10px;
}

button > i {
    margin-top: 4px;
}

.bottom-buffer {
    margin-bottom: 15px;
}

.label-form-control {
    padding: 10px 0 0 0;
}

.search-query {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width: 200px;
}

.search-field .form-control-feedback {
    margin-right: 5px;
}

.search-field .has-feedback .form-control {
    padding-right: 35px;
}

.dropdown-toggle .caret {
    margin: 10px 0 0 10px;
}

span.disabled > i, i.disabled {
    color: #ccc;
}

.span-with-info {
    margin-left: 17px;
}

.scrollable-menu {
    height: auto;
    width: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.text-left-icon {
    margin-left: 7px;
}

.text-right-icon {
    margin-right: 7px;
}

.tvalign-middle > tbody > tr > td {
    vertical-align: middle;
}

.tvalign-top > tbody > tr > td {
    vertical-align: top;
}

.tvalign-bottom > tbody > tr > td {
    vertical-align: bottom;
}

.valign-middle {
    vertical-align: middle;
}

.valign-top {
    vertical-align: top;
}

.valign-bottom {
    vertical-align: bottom;
}

.trvalign-middle > td {
    vertical-align: middle;
}

.trvalign-top > td {
    vertical-align: top;
}

.trvalign-bottom > td {
    vertical-align: bottom;
}

.tool-count {
    font-weight: bold;
    font-size: 120%;
}

.s-divider{
    margin: 4px 0;
}